* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.landing__footer {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 60px;
}

.landing__footer p {
    color: white;
}