* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.landing__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    background-color: black;
}

.landing__header img {
    height: 40px;
}

.landing__header p {
    color: white;
    font-style: italic;
}